﻿
@{
    ViewBag.Title = Resources.Resource.Button;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script>
        $(document).ready(function () {
            PageLoad();
        });
    </script>
</head>
<body>
    <div>
        @using (Html.BeginForm("ChangeCulture", "Home"))
        {
            <select name="lang">
                <option disabled selected>@Resources.Resource.ChooseLang</option>
                <option value="ru">Русский</option>
                <option value="en">English</option>
                <option value="de">Deutsch</option>
            </select>
            <input type="submit" name="submit" value="@Resources.Resource.ChooseLang">
        }
    </div>
</body>

@*<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                1
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                2
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                3
            </div>
        </div>
    </div>
</div>*@