﻿@model Kaban.Models.Auth.AuthFormModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


    @*<div>
        @foreach (ModelState modelState in ViewData.ModelState.Values) {
            foreach (ModelError error in modelState.Errors) {
                <span class="danger">@error.ErrorMessage</span>
            }
        }
    </div>
    <br><br>
    <div> 
        @using (Html.BeginForm("Index", "Auth", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Login, new { @class = "form-input" })
            @Html.TextBoxFor(model => model.Password, new { @class = "form-input" })

            <input type="submit" value="Submit" />
        }
    </div>*@
    <div style="display: table; height: calc(100% - 45px); width: 100%; background-color: #F8F8F8;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-left auth_form">
                        @*<div class="logo">
                            <img src="/Content/Images/Logo.png" alt="Company logo">
                        </div>*@
                        @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { @id = "AuthForm" }))
                        {
                            if (ViewContext.ViewData.ModelState.Count != 0)
                            {
                                foreach (var Value in ViewContext.ViewData.ModelState.Values)
                                {
                                    foreach (var Error in Value.Errors)
                                    {
                                        <span class="text-danger"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> @Error.ErrorMessage</span>
                                    }
                                }
                            }
                            <div class="input-group">
                                <span id="AuthFormCompanyTag" class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 5px; padding-left: 25px; padding-right: 25px;">Enter</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-center">
                        <a href="/Home/ChangeLanguage/ru" class="btn btn-link btn-sm">Русский</a>
                        <a href="/Home/ChangeLanguage/en" class="btn btn-link btn-sm">English</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

