﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/allstyles")*@
    <link href="/Content/Styles/Bootswatch/yeti.min.css" rel="stylesheet">
    <link href="/Content/Styles/customize.css" rel="stylesheet">
    <link href="/Content/Styles/loaders.min.css" rel="stylesheet">

    <script src="/Content/Scripts/JQuery.js"></script>
    <script src="/Content/Scripts/Respond.js"></script>
    <script src="/Content/Scripts/Loaders.js"></script>
    <script src="/Content/Scripts/Bootstrap.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
