﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/allstyles")*@
    <link href="/Content/Styles/Bootswatch/yeti.min.css" rel="stylesheet">
    <link href="/Content/Styles/loaders.min.css" rel="stylesheet">
    <link href="/Content/Styles/customize.css" rel="stylesheet">

    <script src="/Content/Scripts/JQuery.js"></script>
    <script src="/Content/Scripts/Respond.js"></script>
    <script src="/Content/Scripts/Loaders.js"></script>
    <script src="/Content/Scripts/Bootstrap.js"></script>
</head>
<body>
    <script>
        var SearchPendingIndex = 0;
        var SearchAjaxIndex = 0;

        function PageLoad() {
            $('#SearchInput').keyup(function (e) {
                if (e.which == 17 || e.which == 18 || e.which == 9) {
                    e.preventDefault();
                }
                var SearchInputCount = $('#SearchInput').val().length;
                if (SearchInputCount > 0) {
                    Search();
                }
                else{
                    $('#Output').empty();
                }  
            });
            $('#SearchInput').on('paste', function (e) {
                Search();
            });
        }
        function Search() {
            $.ajax({
                url: '/Home/Ajax',
                type: 'Get',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: { 'SearchText': $('#SearchInput').val() },
                beforeSend: function () {
                    SearchPendingBoxShow();
                },
                success: function (Data) {
                    console.log(Data);
                    $('#Output').empty();
                    for (var i= 0; i < Data.Result.length; i++)
                    {
                        if (i < 10) {
                            $('#Output').append("<br/>" + "<span>" + "<a>" + Data.Result[i].Name + " " + Data.Result[i].SName  + "</a>" + "</span>" + "<br/>");
                        };
                    };
                },
                error: function (Data) {
                    SearchPendingBoxHide();
                }
            }).promise().done(function () {
                SearchPendingBoxHide();
            });
        }
        function SearchPendingBoxShow() {
            if (SearchPendingIndex == 0) {
                $("#SearchPendingBox").show();
            }
            SearchPendingIndex++;
        }

        function SearchPendingBoxHide() {
            SearchPendingIndex--;
            if (SearchPendingIndex == 0) {
                $("#SearchPendingBox").hide();
            }
        }
    </script>

    <div class="hidden-xs hidden-sm">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a style="padding-left: 10px; padding-top: 10px; padding-right: 2px; padding-bottom: 0px; line-height: 35px;">
                                <span class="glyphicon glyphicon-comment" style="font-size: 20px;" aria-hidden="true"></span>
                                <span class="badge badge-notify" style="position: relative; bottom: 5px; right: 10px; font-size: 10px; background: #337ab7;">3</span>
                            </a>
                        </li>
                        <li>
                            <input id="SearchInput" type="text" class="form-control input header-input" style="height: 45px; width: 300px; background-color: inherit; border: 0px;" placeholder="Search...">
                        </li>
                        <li>
                            <div style="padding-top: 10px;">
                                <div id="SearchPendingBox" class="loader-inner line-scale hide">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li><a href="">Students</a></li>
                        <li><a href="">Rooms</a></li>
                        <li><a href="">Payments</a></li>
                        <li><a href="">Profile</a></li>
                        <li>@Html.ActionLink("Exit", "Logout", "Auth")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id ="Output" style="width: 300px; height: auto; margin-left: 70px; display: inline-block; text-decoration: solid; z-index: 9999999; background: rgba(0, 0, 0, 0.02); text-align: center;">

        </div>

        @RenderBody()
    </div>

    <div class="hidden-md hidden-lg">
        Download mobile app bitch!
    </div>

    

    @*<div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    @*@Scripts.Render("~/Content/allscripts")
    @RenderSection("scripts", required: false)*@

</body>
</html>
